
     .head{
       background-color: red;
       padding-bottom: 6px;
     }
     .head{
       background-color: red;
       height:1%;
       padding-bottom: 10px;
     }
     #marq{
       text-decoration:auto;
       text-transform: inline;
       font-family: 'Monserrats';
       
       }
     .form{
       margin-top: 5%;
       float: 30%;
       
     }
     #log{
      font-family: 'Monserrats';
      font-size: 120%;
      font-weight: top;
     }
     .img{
         width: 70px;
         height: 70px;
     }


 
 